@import "reset.css";

@font-face {
	font-family: "Iosevka";
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	src:
		url("iosevka.woff2") format("woff2"),
		url("iosevka.ttf") format("truetype");
}

:root {
	--white: #ebdbb2;
	--black: #282828;
	--gray: #404040;
	--red: #cc241d;
	--green: #98971a;
	--yellow: #d79921;

	color: var(--white);
	background-color: var(--black);
	font-family: "Iosevka", "monospace";
}

body {
	display: unset !important;
}

body > * {
	margin: 8px;
}

button {
	background-color: inherit;

	margin: 4px;
	padding: 4px;

	border: 1px solid;

	color: var(--red);
	border-color: var(--red);

	transition:
		color 0.25s ease,
		border-color 0.25s ease,
		transform 0.25s ease,
		box-shadow 0.25s ease;
}

button:not([disabled]):hover {
	color: var(--yellow);
	border-color: var(--yellow);

	transform: translate(8px, 0px);
	box-shadow: -8px 0px var(--gray);

	transition:
		color 0.25s ease,
		border-color 0.25s ease,
		transform 0.25s ease,
		box-shadow 0.25s ease;
}

button.enabled {
	color: var(--green);
	border-color: var(--green);

	transform: translate(8px, 0px);
	box-shadow: -8px 0px var(--gray);
}

button[disabled] {
	color: var(--gray);
	border-color: var(--gray);
}

#logo {
	display: inline-block;
	padding: 32px;
	background: url("estradiol.svg") no-repeat;
}

.paused {
	color: #928374;
	font-style: italic;
}
