@import "reset.css";

@font-face {
	font-family: "Iosevka";
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	src:
		url("iosevka.woff2") format("woff2"),
		url("iosevka.ttf") format("truetype");
}

:root {
	--white: #ebdbb2;
	--black: #282828;
	--gray: #404040;
	--lgray: #928374;
	--red: #cc241d;
	--green: #98971a;
	--yellow: #d79921;

	color: var(--white);
	background-color: var(--black);
	font-family: "Iosevka", "monospace";
}

body {
	display: unset !important;
}

body > * {
	margin: 8px;
}

button {
	background-color: inherit;

	margin: 4px;
	margin-bottom: 6px;
	padding: 4px;

	border: 1px solid;

	color: var(--red);
	border-color: var(--gray);

	transition:
		color 0.25s ease-out,
		border-color 0.25s ease-out,
		transform 0.25s ease-out,
		box-shadow 0.25s ease-out;
}

button:not([disabled]):hover {
	color: var(--yellow);
	border-color: var(--yellow);

	transform: translate(3px, 3px);
	box-shadow: -3px -3px var(--gray);

	transition:
		color 0.25s ease-out,
		border-color 0.25s ease-out,
		transform 0.25s ease-out,
		box-shadow 0.25s ease-out;
}

button.enabled {
	color: var(--green) !important;
	border-color: var(--green) !important;

	transform: translate(6px, 6px) !important;
	box-shadow: -6px -6px var(--gray) !important;
}
button.enabled:hover {
	color: var(--yellow) !important;
	border-color: var(--yellow) !important;
}

button[disabled] {
	color: var(--lgray);
	border-color: var(--gray);
}

#logo {
	display: inline-block;
	padding: 32px;
	background: url("estradiol.svg") no-repeat;
}

.paused {
	color: var(--lgray);
	font-style: italic;
}
