{
	local_certs
	skip_install_trust

	pki {
		ca local {
			root {
				cert ca.crt
				key ca.key
			}
		}
	}
}

localhost {
	reverse_proxy /room* localhost:5173
	reverse_proxy localhost:29325

	header "cross-origin-embedder-policy" "require-corp"
	header "cross-origin-opener-policy" "same-origin"
}
