{
	local_certs
	skip_install_trust
}

http://localhost:8080 {
	@frontend path_regexp ^/room($|/.+)$
	handle @frontend {
		uri strip_prefix /room
		root frontend/dist
		file_server
	}

	handle {
		reverse_proxy localhost:29325
	}

	header "Cross-Origin-Embedder-Policy" "credentialless"
	header "Cross-Origin-Opener-Policy" "same-origin"
}
